{% extends "base.html" %}
{% block content %}
    <h1>About me</h1>
{% load static %}
    <img src="{% static 'img/about-01.jpg' %}" alt=" logo " width="400px">

<br> <br>
<!-- ---------------------------------------- -->




<article class="page type-page status-publish entry page-experience" itemscope="itemscope"
itemtype="http://schema.org/CreativeWork">
<header class="entry-header"><h2 class="entry-title" itemprop="headline">Work Experience</h2>
</header>
<div class="entry-content" itemprop="text">


<hr>

<h3 class="main-info">Senior Forecaster</h3>
<h3 class="extra-info"><span><a href="https://extranet.marocmeteo.ma/">Department of Meteorology in Morocco, Casablanca (Morocco)</a> • 2015-2020</span></h3>
<ul>
   <li>Development of Systems That Generate, Display, and Disseminate Scientific Data</li>
   <li>Maintain Backend REST Web services</li>
   <li>Migrate Existing Codebases to AWS</li>
</ul>

<hr>

<h3 class="main-info">Software Engineer</h3>
<h3 class="extra-info"><span><a href="https://extranet.marocmeteo.ma/">National Weather Service</a> • 2017-2020</span></h3>
<ul>
   <li>Develop and Design GIS Web Applications using the ArcGIS JavaScript API</li>
   <li>Write and publish geoprocessing services with Python and ArcPy</li>
   <li>Create backend user authentication systems using PHP and MySQL</li>

   
</ul>

<hr>

<h3 class="main-info">Meteorological engineer / Student</h3>
<h3 class="extra-info"><a href="http://www.ehtp.ac.ma/">Hassania School of Public Works, Casablanca (Morocco) EHTP</a> • 2011-2014</h3>
<ul>
   <li>Developed web scraping programs using Python for collecting competitive data</li>
   <li>Created and Maintained SQL Server databases</li>
   <li>Wrote frontend applications to update and query databases</li>
</ul>

<hr>


</div>
</article>

<hr>

<!-- -------------------------------------- -->
<article class="page type-page status-publish entry page-skills" itemscope="itemscope"
                         itemtype="http://schema.org/CreativeWork">
                    <header class="entry-header"><h2 class="entry-title" itemprop="headline">Technical Skills</h2>
                    </header>
                    <div class="entry-content" itemprop="text">
                        <h3>Languages:</h3>
                        <ul class="columns-2">
                            <li>Python</li>
                            <li>SQL</li>
                            <li>Javascript</li>
                            <li>HTML / CSS / Sass</li>
                            <li>PHP</li>
                            <li>C++</li>
                        </ul>
                        <h3>Tools, Frameworks, and Libraries: </h3>
                        <ul class="columns-2">
                            <li>Flask</li>
                            <li>Django</li>
                            <li>Git and GitHub</li>
                            <li>WordPress</li>
                            <li>Node</li>
                            <li>Vagrant</li>
                        </ul>
                        <h3>Software: </h3>
                        <ul class="columns-2">
                            <li>Mac OS X</li>
                            <li>Linux</li>
                            <li>Windows</li>
                            <li>Photoshop</li>
                            <li>Chrome Dev Tools</li>
                            <li>Sublime Text </li>
                        </ul>
                    </div>
                </article>
                <hr>
           




<br> <br>


{% endblock content %}