{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}


    



<br>

<div class="row">
	
	

	<div class="col">
		<div class="col-md">
			<div class="card text text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
                    <h1>Dashboard</h1>
                </div>
			  	<div class="card-body">
			    	<h5 class="card-title">

                        {% with total_images_created=request.user.images_created.count %}
                        <p>Welcome to your dashboard. You have bookmarked
                        

                        <span class="tm-color-primary"> {{ total_images_created }}  </span>

                         image{{ total_images_created|pluralize }}.</p>
                        {% endwith %}
                        <p>Drag the following button to your bookmarks toolbar to bookmark
                        images from other websites → 
                        <a href="javascript:{% include
                            "bookmarklet_launcher.js" %}"
                        
                        class="btn btn-info btn-sm">Bookmark it</a></p>

                    </h5>
			  	</div>
			</div>
		</div>
	</div>
</div>

    {% endblock %}