

{% extends 'base.html' %}

    {% block content %}
      {% load  static %}

         <!-- Search form -->
         {% load bootstrap4 %}

         <div class="row tm-row">
             <div class="col-12">
                 <h3>Filter</h3>
                 <!-- <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                     <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                     <button class="tm-search-button" type="submit">
                         <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                     </button>     
                                          
                              
                 </form> -->
                 <form method="GET">

                 {% bootstrap_form myfilter.form  %}
                 <input type="submit" value="Search" class="boxed-btn3 w-100 mt-3">
             </form>

             </div>                
         </div>  

        
    <div class="row tm-row">
        {% for item in destinations  %}

        <article class="col-12 col-md-6 tm-post">
            <hr class="tm-hr-primary">
            <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                <div class="tm-post-link-inner">
                    <img src="{{item.img.url}}" alt="Image" class="img-fluid">                            
                </div>
                <span class="position-absolute tm-new-badge">New</span>
                <h2><a class="tm-pt-30 tm-color-primary tm-post-title" href="{% url 'post-detail' item.id %}">{{ item.name }}</a></h2>

            </a>                    
            <p class="tm-pt-30">
                {{item.desc|safe|truncatewords_html:40}}
            </p>
            <div class="d-flex justify-content-between tm-pt-45">
                <span class="tm-color-primary">{{item.price}}</span>
                <span class="tm-color-primary">June 24, 2020</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <span>36 comments</span>
                <span>by Admin Nat</span>
            </div>
        </article>
        {% endfor %}

    </div>   
 
    {% include "accounts/pagination.html" with page=destinations %}


    {% endblock  %} 
