{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ destination.author }}</a>
      
      </div>
      <h2 class="article-title">{{ destination.title }}</h2>
      <p class="article-content">{{ destination.content }}</p>
    </div>
  </article>

  <!-- comment chapter -->

<h2 class="border-bottom mt-5 mb-3"> Comments ({{comments.count}}) </h2>

{% for comment in comments  %}
<ul class="mb-3 p-3 comment">
    <h6 class="border-bottom p-2">  ({{comment.name}})  
 <span class="text-secondary"> {{comment.comment_date | date:"F d, Y"}} </span>  
    </h6>

    <p class="mb-0"> {{comment.body}} </p> 
      
</ul>



{% empty  %}
    <h6 class="text-center p-4 comment">    No comments </h6>

    {% endfor %}

    <!-- create form for comment  -->

    <h3 class="border-bottom pb-3 mb-3 mt-5">   Add new comment   </h3>

    <div class="border p-4 mb-5 mt-4 ">

    <form method="POST">
      {% csrf_token %}
      {{ comment_form|crispy }}

      <input class="btn btn-info" type="submit" value="Publish ">
    </form>
    
</div>

{% endblock content %}