{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ destination.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ destination.author }}</a>
      
      </div>
      <h2 class="article-title">{{ destination.name }}</h2>
      <p class="article-content">{{ destination.desc }}</p>
    </div>
  </article>


{% endblock content %}